@page
@model SupermarketWeb.Pages.Customers.CreateModel
@{
    ViewData["Tittle"] = "Create";
}
<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Customers.Document" class="control-label"></label>
                <input asp-for="Customers.Document" class="form-control" />
                <span asp-validation-for="Customers.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.FirstName" class="control-label"></label>
                <input asp-for="Customers.FirstName" class="form-control" />
                <span asp-validation-for="Customers.FirstName" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.LastName" class="control-label"></label>
                <input asp-for="Customers.LastName" class="form-control" />
                <span asp-validation-for="Customers.LastName" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Address" class="control-label"></label>
                <input asp-for="Customers.Address" class="form-control" />
                <span asp-validation-for="Customers.Address" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Birthday" class="control-label"></label>
                <input asp-for="Customers.Birthday" class="form-control" />
                <span asp-validation-for="Customers.Birthday" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.PhoneNumber" class="control-label"></label>
                <input asp-for="Customers.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customers.PhoneNumber" class=" text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Email" class="control-label"></label>
                <input asp-for="Customers.Email" class="form-control" />
                <span asp-validation-for="Customers.Email" class=" text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");


    }
}